{
  "branches": [
    "main",
    {
      "name": "test",
      "prerelease": true
    }
  ],
  "plugins": [
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node bin/generate-version.js ${nextRelease.version} && yarn build"
      }
    ],
    [
      "@semantic-release/commit-analyzer",
      {
        "config": "@fingerprintjs/conventional-changelog-dx-team",
        "releaseRules": "@fingerprintjs/conventional-changelog-dx-team/release-rules"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalCommits",
        "config": "@fingerprintjs/conventional-changelog-dx-team"
      }
    ],
    "@semantic-release/changelog",
    ["@semantic-release/npm", {
      "pkgRoot": "dist/fingerprintjs-pro-angular"
    }],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "projects/fingerprintjs-pro-angular/package.json"
        ]
      }
    ],
    "@semantic-release/github"
  ]
}
